.menu-wrapper {
    position: fixed;
    top: 2.4em;
    right: 5%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    z-index: 21;
    & a {
        text-decoration: none;
        color: inherit;
    }
}

.menu-wrapper-expand {
    background-color: black;
    transition: all 0.5s ease-in-out;
    interpolate-size: allow-keywords;
}

@media (max-width: 500px) {
    .menu-wrapper {
        top: 1em;
    }
    .bot-section {
        flex-direction: column !important;
        gap: 32px;
    }
}

.menu-toggle {
    position: relative;
    top: 0px;
    align-self: end;
    height: fit-content;
    width: fit-content;
    align-self: flex-end;
    z-index: 21;
}

.menu-toggle-expand {
    border-radius: 8px;
    transition: all 0.3s ease;
}

.menu-container {
    position: fixed;
    right: 5%;
    bottom: 0px;
    left: auto;
    top: 2.4em;
    border-radius: 8px;
    height: 100%;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    transform-origin: right bottom;
}

.menu-sections {
    padding: 9% 5% 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

@media (max-width: 500px) {
    .menu-wrapper {
        top: 1em;
    }
    .bot-section {
        flex-direction: column !important;
        gap: 32px;
    }
    .menu-container {
        top: 1em;
    }
}

.top-section {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 2.4em;
    font-weight: 500;
    text-transform: uppercase;
    gap: 24px;
    & a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: inherit;
        transition: all 0.3s ease-in-out;
    }
    & a:hover {
        font-weight: 700;
    }
}

.active-nav {
    font-weight: 700;
}

.bot-section {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    & .first-part {
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: fit-content;
        & * {
            padding: 0;
            margin: 0;
        }
    }
    & .second-part {
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: fit-content;
        & * {
            padding: 0;
            margin: 0;
        }
        & .first-line {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1em;
        }
        & .second-line {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            text-transform: capitalize;
            font-size: 0.95em;
            & p {
                white-space: nowrap;
            }
        }
    }
}

.pulse-wrapper {
    position: relative;
    width: 12px;
    height: 12px;
}

.pulse-core {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ff7900;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 22;
}

.pulse-ring {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ff7900;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
    animation: ripple 5s ease-out infinite;
    z-index: 21;
    pointer-events: none;
}

.delay-0 {
    animation-delay: 0s;
}

.delay-1 {
    animation-delay: 2.5s;
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    20% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
