.home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 65svh;
    box-sizing: border-box;
    padding: 0;
    * {
        padding: 0;
        margin: 0;
    }
}

.left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.first-name,
.last-name {
    text-transform: capitalize;
    font-size: 8em;
    font-weight: 500;
}

.description {
    text-transform: capitalize;
    color: #b3b3b3;
}

.right-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10%;
}

.spacer {
    flex-grow: 1;
}

.brief {
    font-weight: 500;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.freelance {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: auto;
    width: fit-content;
    margin-left: auto;
}

.notice {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    color: #b3b3b3;
    font-size: 0.8em;
    text-transform: capitalize;
}

.pulse-wrapper {
    position: relative;
    width: 12px;
    height: 12px;
}

.pulse-core {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ff7900;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 22;
}

.pulse-ring {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ff7900;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
    animation: ripple 5s ease-out infinite;
    z-index: 21;
    pointer-events: none;
}

.delay-0 {
    animation-delay: 0s;
}

.delay-1 {
    animation-delay: 2.5s;
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    20% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

.first-line {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.9em;
}

@media (max-width: 800px) and (min-width: 500px) {
    .first-name,
    .last-name {
        font-size: 6em;
    }
    .left-col {
        width: 60%;
    }
    .right-col {
        padding-left: 0%;
        width: 40%;
    }
}
@media (max-width: 499px) {
    .home {
        flex-direction: column;
    }
    .first-name,
    .last-name {
        font-size: 6em;
        text-align: center;
    }
    .description {
        text-align: center;
    }
    .left-col {
        width: 100%;
        padding-top: 80px;
    }
    .right-col {
        padding-left: 0%;
        width: 100%;
    }
    .brief {
        top: 40%;
        transform: unset;
    }
    .freelance {
        justify-content: end;
        width: fit-content;
        align-self: flex-end;
    }
}
