.overlayer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 19;
    animation: fadeIn 0.3s ease-in-out;
}

.overlayer-glassBG {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
}

.overlayer-rgbaBG {
    background-color: rgba(255, 255, 255, 0.85);
}
