.root-layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin-top: 144px;
}