.root-layout{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
}

.template{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 0px;
}