.root-layout{
    /* background-color: wheat; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
}

.template{
    /* background-color: white; */
    border: 1px solid black;
    width: 100%;
    height: 100%;
}